<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Test</title>
    </head>
    <body>
        <div id="header">Base</div>
        {{ template "body" . }}
    </body>
</html>
